@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.main-content {
    margin-top: 150px;
    /* min-height: 'calc(100vh - 222px)' */
}

/* Estilos globales para el header */
.AppBar {
    box-shadow: none;
    border-bottom: 1px solid #e0e0e0;
}

.Toolbar {
    display: flex;
    justify-content: left;
    align-items: center;
}

.Toolbar .MuiTypography-h6 {
    flex-grow: 1;
}

.Toolbar .MuiButton-root {
    margin: 0 10px;
}

.Toolbar .MuiIconButton-root {
    margin-left: 20px;
}

@media (max-width: 600px) {
    .Toolbar .MuiButton-root {
        display: none;
    }
}

@media (min-width: 600px) {
    .MuiToolbar-root {
        min-height: 150px;
    }
}

/* Estilos personalizados para los enlaces del header */
.header-link {
    color: gray !important;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: none !important;
    text-decoration: none !important;
}

.header-link:hover {
    color: black !important;
    background-color: transparent !important;
    font-weight: bold !important;
}

.MuiButton-root {
    text-transform: none;
}

/* Estilos para la sección Hero */
.hero {
    position: relative;
    margin-top: 0;
}

.hero video {
    width: 100vw;
    height: auto;
    cursor: pointer;
}

@media (min-width: 1281px) {
    .hero video {
        width: 100vw;
        height: 80vh;
    }
}

.heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.animated-info {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}

.animated-item {
    display: inline-block;
    animation: animate 10s linear infinite;
}

@keyframes animate {

    0%,
    33%,
    100% {
        transform: translateY(0);
    }

    34%,
    66% {
        transform: translateY(-100%);
    }
}

.heroLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.custom-link:hover {
    color: #ddd;
}

.contact-phone {
    font-size: 1.2rem;
}

.bi-phone {
    margin-right: 5px;
}

/* Estilos para WhatIsSepsis Component */
.flexible-content-full-width-content .page-content-wrap {
    overflow: visible;
    border-radius: 15px;
    padding: 0 0 10px 0;
}

.flexible-content-full-width-content .section-title {
    overflow: hidden;
    padding-top: 20px;
    background: linear-gradient(135deg, #099FDC, #41A52B);
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.flexible-content-full-width-content .section-title h4 {
    color: white;
    padding-bottom: 15px;
}

.flexible-content-full-width-content .section-content {
    overflow: visible;
    border: 2px solid #fff;
    padding: 20px 0;
}

.flexible-content-full-width-content .section-content p {
    padding: 15px;
}

.whatissepsis {
    position: relative;
    bottom: 35px;
    z-index: 10;
}